<!-- footer.component.html -->
<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4">
        <h5>About</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <!-- Categories Section -->
      <div class="col-md-4">
        <h5>Categories</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Software Training</a></li>
          <li><a href="#" class="text-white">Placement and Job</a></li>
          <li><a href="#" class="text-white">Software Consulting</a></li>
          <li><a href="#" class="text-white">Online Courses</a></li>
          <li><a href="#" class="text-white">Other Services</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <!-- Quick Links Section -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
          <li><a href="#" class="text-white">Contribute</a></li>
          <li><a href="#" class="text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-white">Sitemap</a></li>
        </ul>
      </div>
    </div>


    <!-- Copyright -->
    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">&copy; 2023 All Rights Reserved by Procademy.</p>
      </div>
    </div>
  </div>
</footer>

