<div class="home-page-contact py-5">
  <div class="section-header text-center mb-4">
      <h1>Contact Us to Get Quotation</h1>
  </div>
  <div class="container">
      <form>
          <div class="mb-3">
              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" placeholder="Your name..">
          </div>
          <div class="mb-3">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname" placeholder="Your last name..">
          </div>
          <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <select id="country" name="country" class="form-select">
                  <option value="australia">Australia</option>
                  <option value="canada">Canada</option>
                  <option value="usa">USA</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <textarea class="form-control" id="subject" placeholder="Write something.." style="height: 200px"></textarea>
          </div>
          <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </div>
</div>
