<div class="login-form-container d-flex justify-content-center align-items-center">
  <div class="login-form card p-4 shadow-lg" style="width: 400px;">
    <div class="cancel-button-div text-end">
      <p routerLink="/home">x</p>
    </div>
    <h2 class="text-center mb-4">Please Login Here</h2>
    <!-- Angular form binding with [(ngModel)] -->
    <form>
      <div class="mb-3">
        <label for="uname" class="form-label"><b>Username</b></label>
        <input
          type="text"
          class="form-control"
          id="uname"
          placeholder="Enter Username"
          required
          #username
        />
      </div>
      <div class="mb-3">
        <label for="psw" class="form-label"><b>Password</b></label>
        <input
          type="password"
          class="form-control"
          id="psw"
          placeholder="Enter Password"
          required
          #password
        />

      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="rememberMe" />
        <label class="form-check-label" for="remember">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary w-100" (click)="OnLoginClicked()">Login</button>
    </form>
  </div>
</div>
